@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


* {
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#pag02{
    background-image: url(fotos/fotobalao.png);

}

body {
    background-image: url(fotos/fotobalao.png);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;    
}

nav h2 {
    font-size: 4em;
    color: white;
    font-size: 3em;
    cursor: pointer;
    letter-spacing: 2px;    
}

span {
    color: red;

}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
    font-size: 1.5em;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   
}

nav ul li a:hover {
    color: red;
}

/* sobre mim apartir daqui */


#sobre-mim {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 400px;
    
}

.mateus {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 40px;
}

.nome {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
    padding-bottom: 25px;
    margin-left: 10%;
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    padding-bottom: 30px;
    margin-left: 10%;
}

.quem-sou-eu {
    color: white;
    font-size: 20px;
    margin-left: 10%;
}

.convite {
    margin-top: 30px;
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10%;
    font-weight: bolder;
}

.social-media {
    display: flex;
    margin-left: 30%;
    gap: 30px;
}

.link {
    font-size: 50px;
    text-decoration: none;
}

.linkedin {
    color: #0073B1;
}

.linkedin:hover {
    color: blue;
}

.instagram {
    color: #B523A8;
}

.instagram:hover {
    color: #7F35B8;
}

.github {
    color: #F7F7F7;
}

.github:hover {
    color: grey;
}

/* QUALIDADES*/

#traits {
    color: white;
    display: flex;
    gap: 100px;
    margin-top: 5%;
    margin-bottom: 50px;
    margin-left: 100px;
}

#caracteristicas-pessoais ul {
    list-style: square;
}


.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    justify-content: left;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bolder;

}

#caracteristicas-pessoais {
    font-size: 20px;
}

#caracteristicas-profissionais {
    font-size: 20px;
}

.pessoal {
    color: red;
    font-weight: bolder;
}

.profissional {
    color: red;
}